export(c2load)
export(center)
export(dailyAg)
export(loadConvFactor)
export(loadReg)
export(loadReport)
export(loadStats)
export(loadUnitConv)
export(model)
export(nashSutcliffe)
export(predConc)
export(predLoad)
export(selBestModel)
S3method(coef,loadReg)
S3method(fitted,loadReg)
S3method(logLik,loadReg)
S3method(makepredictcall,center)
S3method(mean,character)
S3method(mean,factor)
S3method(plot,loadReg)
S3method(print,loadReg)
S3method(residuals,loadReg)
S3method(rmse,loadReg)
S3method(vif,loadReg)
useDynLib(rloadest,estlday)
useDynLib(rloadest,estltot)
